.new_goal_input_field {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.new_goal_input_field label {
  font-size: large;
  text-align: center;
  color: white;
  padding-top: 3%;
  padding-bottom: 2%;
}
.new_goal_input_field select {
  border-radius: 15px;
  width: 80%;
  height: 2rem;
  text-align: center;
  background-color: #f4e5b1;
}
.new_goal_input_field input {
  border-radius: 15px;
  font-weight: bold;
  width: 80%;
  height: 2rem;
  text-align: center;
  background-color: #f4e5b1;
}
.new_goal_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #729482;
  gap: 1rem;
  padding: 5%;
  border-radius: 15px;
  min-width: 205px;
  padding-bottom: 12%;
}
.new_goal_form button {
  position: flex;
  justify-content: flex-end;
  width: 60%;
  height: 60px;
  margin: 5px;
  border-radius: 50px;
  right: 0px;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #e7d292;
  color: #516e65;
  transition: 0.2s all;
}
.new_goal_form button:hover {
  background-color: #afbc8f;
}
.new_goal_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
