.custom_input {
  background-color: #f4e5b1;
  border: 3px solid #729482;
  font-size: 20px;
  padding: 16px 8px 16px 8px;
  font-family: "Neucha", cursive;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  border-radius: 15px;
  color: #3b514a;
}
.datePickerContainer {
  display: flex;
  justify-content: end;
}
