@import "colors";

html, body, #root {
  background-color: @greenPrimary;
  height: 100%;
  margin: 0;
  padding: 0;
}

.button{
  width: 16px;
}

.App {
  //width: 100%;
  //height: 100%;
  //padding: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: @main-backGround;
  font-family: "Neucha", cursive;
}

.loading_screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
  .App {
    flex-direction: column;
  }
}