.button,
.bottom_modal_button,
.prev_month_button,
.next_month_button {
  height: 36px;
  display: inline-flex;
  /* Allows alignment of text and ensures flexibility */
  align-items: center;
  /* Vertically centers the text */
  justify-content: center;
  /* Horizontally centers the text */
  padding: 0.5rem 1rem;
  /* Adjusts padding for better spacing */
  border: none;
  transform-origin: center;
  font-family: "Gochi Hand", cursive;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 0 #494a4b;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: #5cdb95;
}
.button span,
.bottom_modal_button span,
.prev_month_button span,
.next_month_button span {
  background: #f1f5f8;
  display: inline-block;
  /* Ensures span behaves properly inside the button */
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid #494a4b;
  white-space: nowrap;
  /* Prevents text wrapping */
}
.button:active,
.bottom_modal_button:active,
.prev_month_button:active,
.next_month_button:active {
  transform: translateY(5px);
  outline: 0;
}
.bottom_modal_button {
  background-color: #f4e5b1;
  border: 2px solid #729482;
  font-size: 16px;
  font-weight: bold;
  color: #26332f;
}
.bottom_modal_button:hover {
  background-color: #d5af3e;
}
.bottom_modal_button:active {
  background-color: #dec168;
}
.dot {
  height: 10px;
  width: 10px;
  background-color: red;
}
.calendar_navigation_bar {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  height: 40px;
}
.prev_month_button {
  background-color: #729482;
  /* Override background color */
  border: 2px solid #f4e5b1;
  margin-right: 20px;
  font-size: 25px;
  color: #e7d292;
}
.prev_month_button:hover {
  background-color: #455b4f;
}
.prev_month_button:active {
  background-color: #5b7869;
}
.next_month_button {
  background-color: #729482;
  /* Override background color */
  border: 2px solid #f4e5b1;
  font-size: 25px;
  color: #e7d292;
}
.next_month_button:hover {
  background-color: #455b4f;
}
.next_month_button:active {
  background-color: #5b7869;
}
.calendar_bottom_text {
  font-size: 1.5em;
  font-weight: bold;
  color: #3b514a;
}
