@import '../../colors.less';

.react-calendar {
    border-radius: 15px;
    width: 100%; /* Responsive width */
    max-width: 450px;
    height: auto;
}

.react-calendar__navigation {
    background-color: @greenSecondery;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.react-calendar__navigation__arrow {
    background-color: transparent;

    &:hover {
        background-color: @greenPrimary;
        transform: scale(1.05);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }
}

.react-calendar__tile {
    height: 3rem;
    width: 3rem;
    border-radius: 10px;

    &--active {
        background-color: @greenPrimary;
        color: white;
        border-radius: 15px;
    }

    &--now {
        background-color: @greenLime;
        border-radius: 15px;
    }
}

.calendar-tile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .date {
        margin-bottom: 0.3rem;
    }

    .dot-base {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        display: inline-block;
    }

    .dot-done {
        .dot-base;
        background-color: @greenPrimary;
    }

    .dot-not-done {
        .dot-base;
        background-color: @mainOrange;
    }
}

// not optimal but for now this is the solution
// disable the selected tile after modal closes
.react-calendar__tile--active {
    background-color: transparent !important;
    color: inherit !important;
    box-shadow: none !important;
  }

  // bug, clicking on the current date disables its highlight